name: Rollback changelog

on:  
    workflow_dispatch:
     inputs:
      rollback_date:
        description: 'Enter rollback date (YYYY-MM-DD)'
        required: true

jobs:
  Rollback:
    runs-on: ubuntu-latest
    name: Rollback Action
    steps:
      - uses: actions/checkout@v2
      - uses: liquibase/liquibase-github-action@v2
        with:
          operation: 'rollbackToDate'
          classpath: 'changelog'
          changeLogFile: 'changelog.xml'
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          url: ${{ secrets.URL }}
          date: ${{ github.event.inputs.rollback_date }}