name: Rollback changelog

on:  
    workflow_dispatch:
     inputs:
     environment:
        description: 'Select the environment'
        type: choice
        options: [test, uat, prod]
        required: true
      rollback_date:
        description: 'Enter rollback date (YYYY-MM-DD)'
        required: true

jobs:
  Rollback:
    runs-on: ubuntu-latest
    name: Rollback Action
    steps:
      - uses: actions/checkout@v2
      - uses: liquibase/liquibase-github-action@v2
        with:
          operation: 'rollbackToDate'
          classpath: 'changelog'
          changeLogFile: 'changelog.xml'
          username: ${{ secrets.USERNAME.${{ github.event.inputs.environment }} }}
          password: ${{ secrets.PASSWORD.${{ github.event.inputs.environment }} }}
          url: ${{ secrets.URL.${{ github.event.inputs.environment }} }}
          date: ${{ github.event.inputs.rollback_date }}