name: Rollback changelog

on:  
    workflow_dispatch:
     inputs:
      environment:
        description: 'Select the environment'
        type: choice
        options: [TEST, UAT, PROD]
        required: true
      rollback_date:
        description: 'Enter rollback date (YYYY-MM-DD)'
        required: true
      label:
        description: 'Enter label'
      context:
        description: 'Enter context'

jobs:
  Rollback:
    runs-on: ubuntu-latest
    name: Rollback Action
    environment: 
      name: ${{ github.event.inputs.environment }}
    steps:
      - uses: actions/checkout@v2
      - uses: liquibase/liquibase-github-action@v2
        with:
          operation: 'rollbackToDate'
          classpath: 'changelog'
          changeLogFile: 'changelog.xml'
          username: ${{ secrets.TEST_USERNAME }}
          password: ${{ secrets.TEST_PASSWORD }}
          url: ${{ secrets.TEST_URL }}
          date: ${{ github.event.inputs.rollback_date }}
          label: ${{ github.event.inputs.label }}
          context: ${{ github.event.inputs.context }}